* {
  text-align: center;
  justify-content: center;
}
#title {
  margin-left: 7px;
  margin-bottom: 2px;
}
#logo {
  height: 40px;
  width: 40px;
}

body {
  margin: 0;
  padding: 0;
}

.header-div {
  background-color: #fd6a02;
  min-height: 15vh;
  padding-left: 1rem;
  padding-top: 1rem;
  color: #fff;
}
