html,
body {
  margin-left: auto;
  height: 100%;
  background-color: #f5f5f5;
}

.container{
  height: 54px;
  width: 1200px;
}
article {
  height: 100%;
  
  section {
    color: black;
    height: auto;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    
    &.is-narrow {
      min-width: 150px;
    }
    
    &:last-of-type {
      color: black;
      flex: 3 1 auto;
    }
  }
}

.mainContainer {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.eachItem {
  border: 1px solid white;
  box-shadow: 2px 2px 10px rgba(189, 189, 189, 0.2);
  background-color: rgb(250, 250, 250);
  border-radius: 10px;
  padding: 8px;
  margin: 5px 10px 5px 10px;
  width: auto;
  height: auto;
}

.eachItem:hover {
  background-color: rgb(228, 227, 227);
}

.resultImg {
  float: left;
  width: 128px;
  height: 128px;
  object-fit: cover;
}

.listImg {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  object-fit: cover;
}

.header-div {
  display: flex;
  justify-content: space-around;
  background-color: #003744;
  /* background-color: #DEEBFF; */
  height: 15%;
  /* min-height: 15vh; */
}

.resultContainer{
  margin: auto;
  text-align: center;
}

.resultWrapper {
  display: flex;
  grid-template-columns: repeat(3, 30em);
}
